*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #f6f6f9;
}

body{
  background-color: #f6f6f9;
  font-family: "M PLUS 1";
  font-size: 16px;
  color: #333;
}

a:link{
  text-decoration: none;
  color: #72640c;
}

a:visited{
  text-decoration: none;
  color: #72640c;
}

a:hover{
  text-decoration: none;
  color: #72640c;
}

h2{
  text-align: center;
  margin-top: 24px;
}

h3{
  margin-bottom: 8px;
  color: #666;
  border-bottom: solid 2px #666;
}

div#wrapper{
  width: 1920px;
}

div#content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 880px;
}

div.match{
  flex: 25%;
  width: 47%;
}

div.players{
  display: flex;
}

div.player{
  display: block;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 12px;
  background-color: #fff;
  border: solid 1px #ccc;
}

div.status{
  display: block;
  position: relative;
  width: 24px;
  height: 120px;
  background-color: #ccc;
  float: left;
}

div.winner>div.status{
  background-color: orange;
}

div.loser>div.status{
  background-color: #666;
}

div.winner{
  background-color: #ffeecc;
}

div.loser{
  background-color: #ddd;
}

div.copy{
  position: relative;
  top: 10px;
  left: 12px;
  font-size: 24px;
}

div.playerName{
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 48px;
  font-family: "M PLUS 1 Bold";
}